/* Existing Styles */
.viz-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.viz-container .viz {
    flex: 2;
}

.viz-container .placeholder {
    flex: 1;
}

/* New/Updated Styles */
body {
    font-family: 'Lato', sans-serif; /* Apply the Lato font to the entire body */
    background-color: #f4f4f4; /* Light gray background for the entire page */
}

/* Container for all content, centering and setting its width */
.content-container {
    width: 1500px;
    margin: 0 auto;
    background-color: #ffffff; /* White background for the content */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for a floating effect */
}

/* Adjusting the main visualization container styles to incorporate the new outer container */
.viz-container {
    padding: 20px; /* Add some padding around visualizations for better spacing */
}
